html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #7D0B79!important;
	overscroll-behavior: none!important;
}

body {
	color: #F1F1F1;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: #DD7600;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #FFA947;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #F1F1F1;
	background-color: #DD7600;
	outline: none;
}

button:disabled {
	color: #FFA033;
}

button:not(:disabled):active {
	background-color: #FFA033;
}

button:focus {
	border-color: #666;
}


/* Custom */

.bg-purple {
	background-color: #7D0B79!important;
	/* background-color: #321067!important; */
}
.c-purple {
	color: #7D0B79!important;
}
.c-white{
	color: #ffffff!important;
}
.c-orange {
	color: #DD7600!important;
}

.bg-white {
	background-color: #ffffff!important;
}
.bg-orange {
	background-color: #DD7600!important;
}
.bg-blue {
	background-color: #00a2d7!important;
}
.bg-red {
	background-color: #c20000!important;
}
.c-red {
	color: #c20000!important;
}
.vertical-center {
	min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 80vh; /* These two lines are counted as one :-)       */
  
	display: flex;
	align-items: center;
  }
.fa-cog {
	font-size: 22px;
}
.fa-times {
	font-size: 22px;
}
.fa-question-circle {
	font-size: 22px;
}